:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000f26;
  overflow: hidden;
}

.select-box {
  width: 100px;
  font-size: 14px;
  padding: 5px;
}

.image-container {
  height: 400px;
  width: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100svh;
}

@media (max-width: 768px) {
  .select-box {
    width: 80px;
    font-size: 12px;
    padding: 3px;
  }

  .image-container {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 480px) {
  .select-box {
    width: 60px;
    font-size: 10px;
    padding: 2px;
  }

  .image-container {
    height: 250px;
    width: 250px;
  }
}